

<div class="container">
    <h3 class="section-heading text-center "> Get in Touch</h3>
    <div class="row contact-section">
        <div class="col-md-2 image">
            <img src="/images/Perfil.jpg " alt="Profile Image" class="rounded-circle mx-auto d-block img-fluid profile-pic ">
            <p class="text-center padding-top-5">Hernan Barthe</p>
        </div>

        <div class="col-md-10">
            <p class="text-justify description ">
                I strive to grow and expand my industry experience every day. I'm always open to new challenges to continue developing not only professionally but also personally, in line with the advancement of new technologies. Ambitious to grow by learning about cloud technologies and differentiating solutions.
                
                Thank you in advance for reading my profile. Wish you have an excellent journey and look forward building together in the future. <strong> Cheers ! </strong></p>

            <p class="thanks theme-color padding-top-10"> Many Thanks :) </p>

            <p class=" padding-top-5 helping-line">I can help with the following:</p>
                <ul class="list-unstyled list">

                    <li class="padding-top-25 padding-left-50"><i class="fa fa-check theme-color contact-icon" >  </i> Google Cloud Databases </li>
                    <li class="padding-top-25 padding-left-50"><i class="fa fa-check theme-color contact-icon" >  </i> Delphix - Data masking and virtualization </li>
                    <li class="padding-top-25 padding-left-50"><i class="fa fa-check theme-color contact-icon" >  </i> Sybase & SQL Server databases </li>
                    <li class="padding-top-25 padding-left-50"><i class="fa fa-check theme-color contact-icon" >  </i> Migrating your databases to the cloud </li>

                </ul>
                <span>Happy to learn New Things on demand of Technology </span>

            <p class="text-left info">Feel free to connect at <span class="theme-color"> <a>https://linkedin.com/in/hernanbarthe</a> </span></p>
            <div class="social-media">
                {% include social.html social= site.data.profile.social %}
            </div>

        </div>

    </div>



</div>
