<div class="container text-sm-center">
    <div  class="course">
        <h3 class="text-sm-center section-heading"> Education </h3>
        <h3 class="theme-color "> University degree in </h3>
        <h4 strong class="theme-color"> Programming and computer systems </h4>
    </div>
    <div class="university">
        <h3 class="university theme-color">
        <h3 class="university theme-color">Universidad Tecnologica Nacional</h3>
        <h4 class="year">2023 - Present  </h4>
    </div>
</div>
</div>
<div class="container text-sm-center">
        <h3 class="theme-color "> Bachelor's degree in </h3>
        <h4 strong class="theme-color"> Business administration </h4>
    <div class="university">
        <h3 class="university theme-color">
        <h3 class="university theme-color">Universidad Argentina de la empresa</h3>
        <h4 class="year">2014 - 2019  </h4>
    </div>
</div>

