<div class="container text-sm-center">
    <div  class="course">
        <h3 class="text-sm-center section-heading"> Education </h3>
        <h3 class="theme-color "> University degree </h3>
        <h4>Programming and <strong class="theme-color"> & </strong> computer systems </h4>
    </div>
    <div class="university">
        <h3 class="university theme-color">
            <i class="fa fa-university"> </i>
        </h3>
        <h3 class="university theme-color">Universidad Tecnologica Nacional</h3>
        <h4 class="year">2023 - Present  </h4>
    </div>
</div>
